@model IEnumerable<Product>

<h1>Carrinho de Compras</h1>

<table>
    <tr>
        <th>Imagem</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th></th>
    </tr>
    @{
        decimal total = 0;
    }
    <form id="finalizar-compra-form" asp-controller="Finalize" asp-action="ending" method="post">
        @if (Model != null)
        {
            int index = 0;
            @foreach (var item in Model)
            {
            
                <tr>
                    <td value="@item.ImageUrl"><img src="@Url.Content(item.ImageUrl)" width="100" /></td>
                    <td>@item.Name</td>
                    <td>
                        <div class="quantity-container" onclick="event.stopPropagation()">
                            <button type="button" class="quantity-button" onclick="BasketdecreaseQuantity(@item.Id, @index)">-</button>
                            <input type="text" class="quantity-input" name="productQuantities[@index].Quantity" data-product-id="@item.Id" value="@item.Quantity" readonly />
                            <button type="button" class="quantity-button" onclick="BasketincreaseQuantity(@item.Id, @index)">+</button>
                        </div>
                        <input type="hidden" name="productQuantities[@index].ProductId" value="@item.Id" />
                    </td>
                    <td data-price="@item.Price.ToString("N2")">R$ @item.Price.ToString("N2")</td>
                </tr>
            
                <tr>
                    <td> <button onclick="delProductBasket(this)" data-product-id="@item.Id" form="del-product-form">Excluir produto</button> </td>
                </tr>
                total += item.Price * item.Quantity;
                index++;
            }
        }
    </form>

    <tr>
        <td colspan="2"></td>
        <td>Total:</td>
        <td>R$ <span id="total-value">@total.ToString("N2")</span></td>
    </tr>
</table>

<form id="del-product-form" asp-controller="Basket" asp-action="DelProductBasket" method="post">
</form>

<tr>
    <td colspan="3">
        <button class="btn">
            <a asp-controller="Basket" asp-action="DelBasket">Excluir tudo</a>
        </button>
        <button class="btn">
            <a asp-controller="Product" asp-action="Menu">Continuar Comprando</a>
        </button>
    </td>
</tr>
<tr>
    <td colspan="3">
        <button onclick="finalize()">Finalizar Compra</button>
    </td>
</tr>