@model IEnumerable<Product>

<style>
    .quantity-container {
        display: flex;
        align-items: center;
    }

    .quantity-button {
        width: 30px;
        height: 30px;
        border: none;
        background-color: #f2f2f2;
        cursor: pointer;
    }

    .quantity-input {
        width: 50px;
        height: 30px;
        border: none;
        text-align: center;
        background-color: #f2f2f2;
        margin: 0 5px;
    }
</style>

<h1>Carrinho de Compras</h1>

<form id="finalizar-compra-form" asp-controller="Finalize" asp-action="ending" method="post">
    <table>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th></th>
        </tr>
        @if (Model != null && Model != null)
        {
            int index = 0;
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <div class="quantity-container" onclick="event.stopPropagation()">
                            <button type="button" class="quantity-button" onclick="decreaseQuantity(@item.Id, @index)">-</button>
                            <input type="text" class="quantity-input" name="productQuantities[@index].Quantity" data-product-id="@item.Id" value="@item.Quantity" readonly />
                            <button type="button" class="quantity-button" onclick="increaseQuantity(@item.Id, @index)">+</button>
                        </div>
                        <input type="hidden" name="productQuantities[@index].ProductId" value="@item.Id" />
                    </td>
                    <td>R$ @item.Price.ToString("N2")</td>
                </tr>
                <tr>
                    <td>
                        <form asp-controller="Basket" asp-action="DelProductBasket" method="post">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <button type="submit">Excluir produto</button>
                        </form>
                    </td>
                </tr>
                index++;
            }
        }

        <tr>
            <td colspan="2"></td>
            <td>Total:</td>
        </tr>

        <tr>
            <td colspan="3">
                <button type="submit">Finalizar Compra</button>
            </td>
        </tr>
    </table>

    <tr>
        <td colspan="3">
            <a asp-controller="Basket" asp-action="DelBasket">Excluir tudo</a>
            <a asp-controller="Product" asp-action="Menu">Continuar Comprando</a>
        </td>
    </tr>
</form>

<script>
    function decreaseQuantity(productId, index) {
        var quantityInput = document.querySelector(`input[name="productQuantities[${index}].Quantity"]`);
        var currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
            updateFinalizarCompraForm(productId, index, currentQuantity - 1);
        }
    }

    function increaseQuantity(productId, index) {
        var quantityInput = document.querySelector(`input[name="productQuantities[${index}].Quantity"]`);
        var currentQuantity = parseInt(quantityInput.value);
        quantityInput.value = currentQuantity + 1;
        updateFinalizarCompraForm(productId, index, currentQuantity + 1);
    }

    function updateFinalizarCompraForm(productId, index, quantity) {
        document.querySelector(`input[name="productQuantities[${index}].ProductId"]`).value = productId;
        document.querySelector(`input[name="productQuantities[${index}].Quantity"]`).value = quantity;
    }
</script>